<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hy.project.demo.auth.core.mybatis.mapper.SequenceMapper">

    <insert id="insert" parameterType="com.hy.project.demo.auth.core.mybatis.entity.SequenceDO">
        INSERT INTO sys_sequence
        (name,current_value)
        VALUES
        (#{name},#{currentValue})
    </insert>

    <select id="findByName" resultType="com.hy.project.demo.auth.core.mybatis.entity.SequenceDO">
        SELECT name,current_value
        FROM sys_sequence
        WHERE name=#{name}
    </select>

    <update id="compareAndSet">
        UPDATE sys_sequence
        SET current_value=#{value}
        WHERE name=#{name}
        AND current_value=#{expect}
    </update>

</mapper>