<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hy.project.demo.mybatis.mapper.RolePermissionRelationMapper">

    <sql id="all_columns">
        role_permission_id,role_id,permission_id,create_by,create_time,update_by,update_time,remark
    </sql>

    <insert id="insert" parameterType="com.hy.project.demo.mybatis.entity.RolePermissionRelationDO">
        INSERT INTO sys_role_permission
        (
        <include refid="all_columns"/>
        )
        VALUES
        (#{rolePermissionId},#{roleId},#{permissionId},#{createBy},now(),#{updateBy},#{updateTime},#{remark})
    </insert>


    <select id="findByRoleId" resultType="com.hy.project.demo.mybatis.entity.RolePermissionRelationDO">
        SELECT
        <include refid="all_columns"/>
        FROM sys_role_permission
        WHERE role_id=#{roleId}
    </select>

    <select id="findByRoleIds" resultType="com.hy.project.demo.mybatis.entity.RolePermissionRelationDO" parameterType="List">
        SELECT
        <include refid="all_columns"/>
        FROM sys_role_permission
        WHERE role_id
        IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>