<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hy.project.demo.mybatis.mapper.UserRoleRelationMapper">

    <sql id="all_columns">
        user_role_id,user_id,role_id,create_by,create_time,update_by,update_time,remark
    </sql>

    <insert id="insert" parameterType="com.hy.project.demo.mybatis.entity.UserRoleRelationDO">
        INSERT INTO sys_user_role
        (
        <include refid="all_columns"/>
        )
        VALUES
        (#{userRoleId},#{userId},#{roleId},#{createBy},now(),#{updateBy},#{updateTime},#{remark})
    </insert>


    <select id="findByUserId" resultType="com.hy.project.demo.mybatis.entity.UserRoleRelationDO">
        SELECT
        <include refid="all_columns"/>
        FROM sys_user_role
        WHERE user_id=#{userId}
    </select>
</mapper>