<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hy.project.demo.mybatis.mapper.UserMapper">

    <sql id="all_columns">
        user_id,user_name,nick_name,user_type,email,phone,sex,avatar,password,status,del_flag,login_ip,login_date,create_by,create_time,update_by,update_time,remark
    </sql>

    <sql id="insert_columns">
        gmt_create, gmt_modified, name, role, password, status
    </sql>

    <insert id="insert" parameterType="com.hy.project.demo.mybatis.entity.UserDO">
        INSERT INTO sys_user
        (
        <include refid="all_columns"/>
        )
        VALUES
        (#{userId},#{userName},#{nickName},#{userType},#{email},#{phone},#{sex},#{avatar},#{password},#{status},#{delFlag},#{loginIp},#{loginDate},#{createBy},now(),#{updateBy},#{updateTime},#{remark})
    </insert>

    <insert id="insertAll" parameterType="java.util.List">
        INSERT INTO sys_user
        (
        <include refid="all_columns"/>
        )
        VALUES
        <foreach collection="entities" item="item" index="index" separator=",">
            ( #{item.userId,jdbcType=VARCHAR},#{item.userName,jdbcType=VARCHAR},#{item.nickName,jdbcType=VARCHAR},
            #{item.userType,jdbcType=VARCHAR},#{item.email,jdbcType=VARCHAR},#{item.phone,jdbcType=VARCHAR},
            #{item.sex,jdbcType=CHAR},#{item.avatar,jdbcType=VARCHAR},#{item.password,jdbcType=VARCHAR},
            #{item.status,jdbcType=CHAR},#{item.delFlag,jdbcType=CHAR},#{item.loginIp,jdbcType=VARCHAR},
            #{item.loginDate,jdbcType=DATETIME},#{item.createBy,jdbcType=VARCHAR},#{item.createTime,jdbcType=DATETIME},
            #{item.updateBy,jdbcType=VARCHAR},#{item.updateTime,jdbcType=DATETIME},#{item.remark,jdbcType=VARCHAR},
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.hy.project.demo.mybatis.entity.UserDO">
        UPDATE sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null">user_name=#{userName},</if>
            <if test="nickName != null">nick_name=#{nickName},</if>
            <if test="userType != null">user_type=#{userType},</if>
            <if test="email != null">email=#{email},</if>
            <if test="phone != null">phone=#{phone},</if>
            <if test="sex != null">sex=#{sex},</if>
            <if test="avatar != null">avatar=#{avatar},</if>
            <if test="password != null">password=#{password},</if>
            <if test="status != null">status=#{status},</if>
            <if test="delFlag != null">del_flag=#{delFlag},</if>
            <if test="loginIp != null">login_ip=#{loginIp},</if>
            <if test="loginDate != null">login_date=#{loginDate},</if>
            <if test="createBy != null">create_by=#{createBy},</if>
            <if test="createTime != null">create_time=#{createTime},</if>
            <if test="updateBy != null">update_by=#{updateBy},</if>
            <if test="updateTime != null">update_time=#{updateTime},</if>
            <if test="remark != null">remark=#{remark},</if>
        </trim>
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="userId != null">AND user_id=#{userId}</if>
        </trim>
    </update>

    <update id="updateAll" parameterType="java.util.List">
        <foreach collection="entities" item="item" index="index" separator=";">
            UPDATE sys_user
            <trim prefix="SET" suffixOverrides=",">
                <if test="item.userName != null">user_name=#{item.userName},</if>
                <if test="item.nickName != null">nick_name=#{item.nickName},</if>
                <if test="item.userType != null">user_type=#{item.userType},</if>
                <if test="item.email != null">email=#{item.email},</if>
                <if test="item.phone != null">phone=#{item.phone},</if>
                <if test="item.sex != null">sex=#{item.sex},</if>
                <if test="item.avatar != null">avatar=#{item.avatar},</if>
                <if test="item.password != null">password=#{item.password},</if>
                <if test="item.status != null">status=#{item.status},</if>
                <if test="item.delFlag != null">del_flag=#{item.delFlag},</if>
                <if test="item.loginIp != null">login_ip=#{item.loginIp},</if>
                <if test="item.loginDate != null">login_date=#{item.loginDate},</if>
                <if test="item.createBy != null">create_by=#{item.createBy},</if>
                <if test="item.createTime != null">create_time=#{item.createTime},</if>
                <if test="item.updateBy != null">update_by=#{item.updateBy},</if>
                <if test="item.updateTime != null">update_time=#{item.updateTime},</if>
                <if test="item.remark != null">remark=#{item.remark},</if>
            </trim>
            <trim prefix="WHERE" prefixOverrides="AND">
                <if test="item.userId != null">AND user_id=#{item.userId}</if>
            </trim>
        </foreach>
    </update>

    <select id="findById" resultType="com.hy.project.demo.mybatis.entity.UserDO">
        SELECT
        <include refid="all_columns"/>
        FROM sys_user
        WHERE user_id=#{id}
    </select>

    <select id="findByName" resultType="com.hy.project.demo.mybatis.entity.UserDO">
        SELECT
        <include refid="all_columns"/>
        FROM sys_user
        WHERE user_name=#{name}
    </select>

    <select id="findAllById" resultType="java.util.List">
        SELECT
        <include refid="all_columns"/>
        FROM sys_user
        WHERE user_id
        IN
        <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="findAll" resultType="java.util.List">
        SELECT
        <include refid="all_columns"/>
        FROM sys_user
    </select>

    <select id="count" resultType="long">
        SELECT
        count(*)
        FROM sys_user
    </select>

    <delete id="deleteById">
        DELETE FROM sys_user
        WHERE user_id=#{id}
    </delete>

    <delete id="deleteAllById">
        DELETE FROM sys_user
        WHERE user_id
        IN
        <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteAll">
        DELETE FROM sys_user
    </delete>

    <select id="findByPage" resultType="com.hy.project.demo.mybatis.entity.UserDO">
        SELECT
        <include refid="all_columns"/>
        FROM sys_user
        ORDER BY user_id DESC
        LIMIT #{offset},#{pageSize}
    </select>

</mapper>