# host信息配置文件：host-info.config
# 根据具体情况填上值后，放到host的/data目录下面

# 集群信息
clusters=
ip_inner=
ip_outer=

# mysql
mysql_user=
mysql_pwd=
mysql_host_inner=

# redis
redis_host_inner=

# es host: es01/es02
es_host=

# nacos
nacos_auth_key=
nacos_auth_value=
nacos_auth_token=
nacos_cluster=

# kafka
node_id=
voters=
kafka_bootstraps=