# host信息配置文件：host-info.config
# 根据具体情况填上值后，放到host的/data目录下面

# 集群信息
clusters=${inner_ip_1},${inner_ip_2},${inner_ip_3}
ip_inner=${inner_ip_x}
ip_outer=${outer_ip_x}

# mysql
mysql_user=?
mysql_pwd=?
mysql_host_inner=${inner_ip_1}

# redis
redis_host_inner=${inner_ip_1}

# es host: es01/es02
es_host=${inner_ip_3}

# nacos
nacos_auth_key=?
nacos_auth_value=?
nacos_auth_token=?
nacos_cluster=${inner_ip_1}:8848,${inner_ip_2}:8848,${inner_ip_3}:8848

# kafka
node_id=x
voters=1@${inner_ip_1}:9093,2@${inner_ip_2}:9093,3@${inner_ip_3}:9093
kafka_bootstraps=${inner_ip_1}:9092,${inner_ip_2}:9092,${inner_ip_3}:9092